<div class="cont">
<nav class="navbar navbar-light bg-primary">
  <span class="navbar-brand" style="color: white; justify-content: center;">Six Ladders Admin Portal</span>
</nav>
<div class="d-flex justify-content-start mt-4">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="Industry"  class="justify-content-start">
      <a ngbNavLink>Industry</a>
      <ng-template ngbNavContent  class="justify-content-center">
        <app-view-industry></app-view-industry>
      </ng-template>
    </li>
    <li ngbNavItem="Education">
      <a ngbNavLink>Education</a>
      <ng-template ngbNavContent>
        <app-view-education></app-view-education>
      </ng-template>
    </li>


  <li ngbNavItem="Cities">
    <a ngbNavLink>Cities</a>
    <ng-template ngbNavContent>
  <app-view-cities></app-view-cities>
</ng-template>
  </li>
  <li ngbNavItem="States">
    <a ngbNavLink>States</a>
    <ng-template ngbNavContent>

      <app-view-state></app-view-state>
    </ng-template>
  </li>
</ul>
  <div  [ngbNavOutlet]="nav" class="flex w-100 ml-4"></div>
</div>
